# Excluir todos los directorios '__pycache__' en cualquier lugar del proyecto
**/__pycache__/

# Excluir las movidas de caché
/static/cache/*
/tmp/*

# Excluir el atlas.ini, se genera en auto
/atlas.ini