<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Galaxy: {{ galaxy.name.replace("_", " ") }}</title>
  </head>
  <body data-coordinates="{{ galaxy.coordinates | join(',') }}">
    <h1>Galaxy '{{ galaxy.name.replace("_", " ") }}' at Coordinates {{ galaxy.coordinates }}</h1>

    <div class="galaxy-info">
      <p><strong>Type:</strong> {{ galaxy.galaxy_type }}</p>
      <p><strong>Number of Solar Systems:</strong> {{ galaxy.num_systems }}</p>
      <p><strong>Black Holes:</strong> {{ galaxy.black_holes }}</p>
      <p><strong>Pulsars:</strong> {{ galaxy.pulsars }}</p>
      <p><strong>Quasars:</strong> {{ galaxy.quasars }}</p>
      <p><strong style="font-size: xx-small">*Black holes are grouped depending its position</strong></p>
    </div>

    <div class="galaxy-info">
      <div class="blob-image-container">
        <canvas id="canvas"></canvas>
        <img class="blob-image" data-high-res-url="{{ url_for('galaxy_blob') }}" id="blob-image" />
      </div>
      <div class="stargate-container">
        <a class="stargate" href="{{ galaxy_url }}"><span id="stargate-text">Aligning Stargate...</span></a>
        <div class="tooltip">Right-click and select 'Copy Link' to save this Stargate location</div>
      </div>
    </div>

    <h2>Systems in '{{ galaxy.name.replace("_", " ") }}'</h2>
    <div class="galaxy-info">
      <ul class="solar-systems-list">
        {% for system in systems %}
        <li class="system-item">
          <div class="seen-indicator" data-system="{{ system.index }}"></div>
          <a href="{{ url_for('view_system', system_index=system.index, page=page) }}">
            <span class="system-text">#{{ system.number }} {{ system.name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="galaxy-info">
      <a href="/"><button class="back-button">Go Back to Planetary Index</button></a>
    </div>

    <div class="page-navigation">
      {% if prev_page %}
      <a href="{{ url_for('view_galaxy', page=prev_page) }}">Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ url_for('view_galaxy', page=next_page) }}">Next</a>
      {% endif %}
    </div>
  </body>
  <script src="{{ url_for('static', filename='vjs/script.js') }}?v={{ versionHash }}"></script>
  <script src="{{ url_for('static', filename='vjs/atlasHistoricalScript.js') }}?v={{ versionHash }}"></script>
  <script src="{{ url_for('static', filename='vjs/spaceTravel.js') }}?v={{ versionHash }}"></script>
</html>
