<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>The Atlas</title>
  </head>
  <body>
    <header class="interfaceinit">
      <img src="/static/atlas-logo.png" alt="Atlas Logo" class="logo" />
    </header>

    <form action="{{ url_for('navigate') }}" method="POST">
      <div class="coordinate-inputs">
        <label for="x">X:</label>
        <input type="number" name="x" required />
        <label for="y">Y:</label>
        <input type="number" name="y" required />
        <label for="z">Z:</label>
        <input type="number" name="z" required />
      </div>
      <div class="form-actions">
        <button type="submit" class="navigate-button">Navigate</button>
        <button type="button" class="random-button" onclick="getRandomCoordinates()">Get me somewhere!</button>
      </div>
    </form>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <p class="p-version">Version {{ version }} · <a target="_blank" href="https://github.com/SurceBeats/Atlas">Created by Claudio González</a></p>

    <script src="{{ url_for('static', filename='vjs/script.js') }}"></script>
  </body>
</html>
