<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Planet: {{ planet['Name'].replace("_", " ") }}</title>
  </head>
  <body data-coordinates="{{ galaxy.coordinates | join(',') }}" data-system-index="{{ system.index }}" data-planet-name="{{ planet['Name'].lower() }}">
    <h1>Planet '{{ planet['Name'].replace("_", " ") }}'</h1>

    <div class="planet-info">
      <p><strong>Type:</strong> {{ planet['Type'] }}</p>
      <p><strong>Atmosphere:</strong> {{ planet['Atmosphere'] }}</p>
      <p><strong>Life Forms:</strong> {{ planet['Life Forms'] }}</p>
      <p><strong>Mass:</strong> {{ "{:,.2f}".format(planet['Mass'] / 1e24) }} x 10²⁴ kg</p>
      <p><strong>Diameter:</strong> {{ "{:,.2f}".format(planet['Diameter']) }} km</p>
      <p><strong>Density:</strong> {{ "{:,.2f}".format(planet['Density'] / 1e12) }} x 10¹² kg/m³</p>
      <p><strong>Gravity:</strong> {{ "{:,.2f}".format(planet['Gravity']) }} m/s²</p>
      <p><strong>Orbital Radius:</strong> {{ "{:,.2f}".format(planet['Orbital Radius']) }} AU</p>
      <p><strong>Orbital Period:</strong> {{ "{:,.2f}".format(planet['Orbital Period']) }} Earth years</p>
      <p><strong>Orbital Speed:</strong> {{ "{:,.2f}".format(planet['Orbital Speed']) }} m/s</p>
      <p><strong>Axial Tilt:</strong> {{ "{:,.2f}".format(planet['Axial Tilt']) }} degrees</p>
      <p><strong>Rotation Period:</strong> {{ "{:,.2f}".format(planet['Rotation Period'] / 24) }} days</p>
      <p><strong>Surface:</strong> {{ "{:,.2f}".format(planet['Surface Temperature']) }} °C ({{ "{:,.2f}".format(planet['Surface Temperature'] * 9/5 + 32) }} °F)</p>
      <p><strong>Elements:</strong> {{ ", ".join(planet['Elements']) }}</p>

      <div id="localization-content" class="localization-content">
        <p><strong class="localize">Planet:</strong> {{ planet['Name'].replace("_", " ") }}</p>
        <p><strong class="localize">System:</strong> {{ system.name }}</p>
        <p><strong class="localize">System ID:</strong> #{{ system.index + 1 }}</p>
        <p><strong class="localize">Galaxy:</strong> {{ galaxy.name.replace("_", " ") }}</p>
        <p><strong class="localize">Coordinates:</strong> X: {{ galaxy.coordinates[0] }}, Y: {{ galaxy.coordinates[1] }}, Z: {{ galaxy.coordinates[2] }}</p>
      </div>
      <button class="dropdown-btn" onclick="toggleLocalization()">View Localization</button>
    </div>

    <div class="planet-info">
      <div class="planet-image-container">
        <canvas id="canvas"></canvas>
        <img class="planet-image" data-high-res-url="{{ url_for('planet_blob', planet_name=planet['Name']) }}" src="{{ url_for('static', filename='images/placeholder-min.jpg') }}" alt="Image of {{ planet['Name'] }}" id="planet-image" />
      </div>
      <div class="stargate-container">
        <a class="stargate" href="{{ planet_url }}"><span id="stargate-text">Aligning Stargate...</span></a>
        <div class="tooltip">Right-click and select 'Copy Link' to save this Stargate location</div>
      </div>
    </div>

    <div class="planet-info">
      <a href="{{ url_for('view_system', system_index=system.index, page=request.args.get('page', 1)) }}">
        <button class="back-button">Go Back to System '{{ system.name }}'</button>
      </a>
    </div>

    <script src="{{ url_for('static', filename='vjs/script.js') }}?v={{ versionHash }}"></script>
    <script src="{{ url_for('static', filename='vjs/atlasHistoricalScript.js') }}?v={{ versionHash }}"></script>
    <script src="{{ url_for('static', filename='vjs/stars.js') }}?v={{ versionHash }}"></script>

  </body>

  </html>
