<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'partials/_favicon.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

    <title>System: {{ system.name }}</title>
  </head>
  <body>
    <h1>System: '{{ system.name }}' at Galaxy '{{ galaxy.name }}'</h1>

    <div class="solar-system-info">
      <p><strong>Star System Type:</strong> {{ summary['Star System Type'] }}</p>
      <p><strong>Number of Planets:</strong> {{ summary['Number of Planets'] }}</p>
      <p><strong>Stars ({{ summary['Stars']|length }}):</strong></p>
      {% for star in summary['Stars'] %}

      <p><strong class="info-bulked">Star Type {{ loop.index }}:</strong> {{ star['Type'] }}</p>
      <p><strong class="info-bulked">Star Size {{ loop.index }}:</strong> {{ star['Size'] }}</p>
      <p><strong class="info-bulked">Star Color {{ loop.index }}:</strong> {{ star['Color'] }}</p>
      {% endfor %}
    </div>

    <div class="solar-system-info">
      <div>
        <img class="solar-system-image" src="{{ image_url }}" alt="Imagen del Sistema Solar {{ system.name }}" />
      </div>
    </div>

    <h2>Planets in '{{ system.name }}':</h2>
    <div class="solar-system-info">
      <ul class="planets-list">
        {% for planet in system.planets.values() %}
        <a href="{{ url_for('view_planet', planet_name=planet['Name'].lower(), page=request.args.get('page', 1)) }}">
          <li>{{ planet['Name'] }}</li>
        </a>
        {% endfor %}
      </ul>
    </div>

    <div class="solar-system-info">
      <a href="{{ url_for('view_galaxy', page=request.args.get('page', 1)) }}">
        <button class="back-button">Back to Galaxy '{{ galaxy.name }}'</button>
      </a>
    </div>
  </body>
</html>
